<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
  <meta charset="UTF-8"/>
  <title>Llistat d'Entitats</title>
  <link rel="stylesheet" type="text/css" href="/css/listado.css">
</head>
<body>
<h1 th:text="'Llistat de ' + ${nomEntitat}"></h1>
<ul>
  <li th:each="entitat : ${entitat}" style="text-align: justify;">
    <p th:text="${entitat.id}"> --- </p>
    <p th:text="${entitat.nombre}"> --- </p>
    <img style="height: 32px; width: 32px;" th:src="${entitat.urlImagen}" alt="No se ha podido cargar la imagen">
  </li>
</ul>
</body>
</html>